In [30]:
import pandas as pd
df = pd.read_csv("customer.csv")
df.columns = df.columns.str.strip()
valid_ages = df[df['Age'] >= 18]['Age'].sort_values().reset_index(drop=True)
n = len(valid_ages)
if n % 2 == 1:
    median_age = valid_ages[n // 2]
else:
    median_age = (valid_ages[(n // 2) - 1] + valid_ages[n // 2]) / 2

print(f"\n Correctly Calculated Median Age (Age >= 18): {median_age}")

df['Age'] = df['Age'].apply(lambda x: median_age if x < 18 else x)
print("\n Final Cleaned Dataset (Age < 18 Replaced with Median):")
print(df[['Customer', 'Age']])

 Correctly Calculated Median Age (Age >= 18): 50.7398

 Final Cleaned Dataset (Age < 18 Replaced with Median):
   Customer      Age
0        A1  50.7398
1        A2  35.5346
2        A3  50.7398
3        A4  45.8203
4        A5  69.6639
..      ...      ...
95      A96  29.6316
96      A97  20.6118
97      A98  40.5390
98      A99  21.5887
99     A100  23.6076

[100 rows x 2 columns]

In [31]:
df.to_csv("customer_cleaned.csv", index=False)
df_cleaned = pd.read_csv("customer_cleaned.csv")

In [33]:
df_customer_cleaned.columns = df_customer_cleaned.columns.str.strip()
df_spent.columns = df_spent.columns.str.strip()
df_spent['Month'] = pd.to_datetime(df_spent['Month'], format='%d-%b-%y', errors='coerce')
monthly_spent = df_spent.groupby(['Customer', 'Month'])['Amount'].sum().reset_index()
monthly_spent = monthly_spent.merge(df_customer_cleaned[['Customer', 'Limit']], on='Customer', how='left')
monthly_spent['Amount'] = pd.to_numeric(monthly_spent['Amount'], errors='coerce')
monthly_spent['Limit'] = pd.to_numeric(monthly_spent['Limit'], errors='coerce')
overspent = monthly_spent[monthly_spent['Amount'] > monthly_spent['Limit']]
if overspent.empty:
    print("No customers have overspent their credit limit in any month.")
else:
    print(" Customers who overspent their credit limit in any month:")
    print(overspent)

No customers have overspent their credit limit in any month.

In [35]:
df_spent['Month'] = pd.to_datetime(df_spent['Month'], format='%d-%b-%y')
monthly_spent = df_spent.groupby(['Customer', df_spent['Month'].dt.to_period('M')])['Amount'].sum().reset_index()
monthly_spent = monthly_spent.merge(df_customer[['Customer']], on='Customer', how='left')
print(monthly_spent)

    Customer    Month   Amount
0         A1  2004-01  1511173
1         A1  2004-02    41381
2         A1  2004-05   131197
3         A1  2005-01   398404
4         A1  2005-02  1404194
..       ...      ...      ...
802      A95  2004-01   347834
803      A96  2004-01   320364
804      A97  2004-01   164330
805      A98  2004-01    87484
806      A99  2004-01   476020

[807 rows x 3 columns]

In [36]:
df_spent['Month'] = pd.to_datetime(df_spent['Month'], format='%d-%b-%y')
monthly_repayment = df_spent.groupby(['Customer', df_spent['Month'].dt.to_period('M')])['Amount'].sum().reset_index()
monthly_repayment = monthly_repayment.merge(df_customer[['Customer']], on='Customer', how='left')
print(monthly_repayment)

    Customer    Month   Amount
0         A1  2004-01  1511173
1         A1  2004-02    41381
2         A1  2004-05   131197
3         A1  2005-01   398404
4         A1  2005-02  1404194
..       ...      ...      ...
802      A95  2004-01   347834
803      A96  2004-01   320364
804      A97  2004-01   164330
805      A98  2004-01    87484
806      A99  2004-01   476020

[807 rows x 3 columns]

In [44]:
df_spent['Month'] = pd.to_datetime(df_spent['Month'], format='%d-%b-%y')
df_spent['Year-Month'] = df_spent['Month'].dt.to_period('M')
monthly_spent = df_spent.groupby(['Year-Month', 'Customer'])['Amount'].sum().reset_index()
top_10_monthly_spent = (
    monthly_spent.sort_values(['Year-Month', 'Amount'], ascending=[True, False])
    .groupby('Year-Month')
    .head(10)
    .reset_index(drop=True)
)
print(" Top 10 Highest Paying Customers for Each Month:")
print(top_10_monthly_spent)

 Top 10 Highest Paying Customers for Each Month:
    Year-Month Customer   Amount
0      2004-01      A37  2605015
1      2004-01      A39  2417495
2      2004-01      A60  2245218
3      2004-01      A40  2233136
4      2004-01      A22  2126633
..         ...      ...      ...
295    2006-12      A36   255209
296    2006-12      A16   220259
297    2006-12      A28   188699
298    2006-12      A35   140924
299    2006-12      A51   123277

[300 rows x 3 columns]

In [38]:
df_spent['Month'] = pd.to_datetime(df_spent['Month'], format='%d-%b-%y')
df_merged = df_spent.merge(df_customer_cleaned[['Customer', 'Segment']], on='Customer', how='left')
df_merged['Year-Month'] = df_merged['Month'].dt.to_period('M')
monthly_segment_spending = df_merged.groupby(['Year-Month', 'Segment'])['Amount'].sum().reset_index()
top_segment_per_month = monthly_segment_spending.loc[monthly_segment_spending.groupby('Year-Month')['Amount'].idxmax()]
print("Top segment for each month based on spending:")
print(top_segment_per_month)

Top segment for each month based on spending:
    Year-Month        Segment    Amount
1      2004-01  Normal Salary  22394595
6      2004-02  Normal Salary   2841896
13     2004-03   Salaried_Pvt   1277308
17     2004-04   Salaried_MNC   2262438
20     2004-05           Govt   1593276
26     2004-09  Normal Salary   1212599
31     2004-11  Normal Salary   1431529
34     2005-01           Govt   2323803
43     2005-02  Self Employed  10745033
47     2005-04   Salaried_Pvt   3558552
50     2005-05  Normal Salary   9952875
54     2005-06           Govt   2876111
61     2005-07   Salaried_MNC   1557177
65     2005-08  Normal Salary   2417785
73     2005-09  Self Employed    988659
75     2005-10  Normal Salary   1487898
82     2005-11   Salaried_Pvt   3777193
84     2005-12           Govt   1169055
90     2006-01   Salaried_Pvt   1710222
92     2006-02           Govt   3956979
98     2006-03  Normal Salary  16877931
106    2006-04  Self Employed   6241180
108    2006-05  Normal Salary   5510277
113    2006-06  Normal Salary   1643948
117    2006-07  Normal Salary   2130229
122    2006-08  Normal Salary    980753
126    2006-09           Govt    998110
132    2006-10  Normal Salary   1093330
137    2006-11  Normal Salary   2485723
142    2006-12  Normal Salary   1510011

In [39]:
df_spent['Month'] = pd.to_datetime(df_spent['Month'], format='%d-%b-%y')
df_merged = df_spent.merge(df_customer_cleaned[['Customer', 'Age']], on='Customer', how='left')
def age_group(age):
    if age < 18:
        return 'Under 18'
    elif 18 <= age < 30:
        return '18-29'
    elif 30 <= age < 40:
        return '30-39'
    elif 40 <= age < 50:
        return '40-49'
    elif 50 <= age < 60:
        return '50-59'
    else:
        return '60+'

df_merged['Age Group'] = df_merged['Age'].apply(age_group)
df_merged['Year-Month'] = df_merged['Month'].dt.to_period('M')
monthly_age_group_spending = df_merged.groupby(['Year-Month', 'Age Group'])['Amount'].sum().reset_index()
top_age_group_per_month = monthly_age_group_spending.loc[monthly_age_group_spending.groupby('Year-Month')['Amount'].idxmax()]
print("Top age group for each month based on spending:")
print(top_age_group_per_month)

Top age group for each month based on spending:
    Year-Month Age Group    Amount
3      2004-01     50-59  29135648
9      2004-02       60+   3475097
12     2004-03     50-59   2062436
18     2004-04       60+   2786092
21     2004-05     50-59   1682952
25     2004-09     50-59   1398309
31     2004-11       60+   1405797
35     2005-01       60+   2690232
39     2005-02     50-59  18200173
44     2005-04     50-59   3781561
50     2005-05       60+  15139051
54     2005-06     50-59   5408163
58     2005-07     50-59   1080132
63     2005-08       60+   3311193
68     2005-09       60+   1561269
71     2005-10     50-59   1379669
77     2005-11       60+   4246204
80     2005-12     50-59   1413231
84     2006-01     50-59   1991931
89     2006-02     50-59   3869516
95     2006-03       60+  17911703
100    2006-04       60+  10037120
105    2006-05       60+   5155014
109    2006-06       60+   2457525
113    2006-07     50-59   4390262
118    2006-08       60+   1094582
122    2006-09       60+   1528156
124    2006-10     40-49   1117729
131    2006-11       60+   2535099
134    2006-12     50-59   1354520

In [40]:
df_spent['Month'] = pd.to_datetime(df_spent['Month'], format='%d-%b-%y')
df_merged = df_spent.merge(df_customer_cleaned[['Customer', 'Segment']], on='Customer', how='left')
df_merged['Year-Month'] = df_merged['Month'].dt.to_period('M')
monthly_segment_spending = df_merged.groupby(['Year-Month', 'Segment'])['Amount'].sum().reset_index()
most_profitable_per_month = monthly_segment_spending.loc[
    monthly_segment_spending.groupby('Year-Month')['Amount'].idxmax()
]


print("Most Profitable Segment for Each Month (Based on Total Spending):")
print(most_profitable_per_month)

Most Profitable Segment for Each Month (Based on Total Spending):
    Year-Month        Segment    Amount
1      2004-01  Normal Salary  22394595
6      2004-02  Normal Salary   2841896
13     2004-03   Salaried_Pvt   1277308
17     2004-04   Salaried_MNC   2262438
20     2004-05           Govt   1593276
26     2004-09  Normal Salary   1212599
31     2004-11  Normal Salary   1431529
34     2005-01           Govt   2323803
43     2005-02  Self Employed  10745033
47     2005-04   Salaried_Pvt   3558552
50     2005-05  Normal Salary   9952875
54     2005-06           Govt   2876111
61     2005-07   Salaried_MNC   1557177
65     2005-08  Normal Salary   2417785
73     2005-09  Self Employed    988659
75     2005-10  Normal Salary   1487898
82     2005-11   Salaried_Pvt   3777193
84     2005-12           Govt   1169055
90     2006-01   Salaried_Pvt   1710222
92     2006-02           Govt   3956979
98     2006-03  Normal Salary  16877931
106    2006-04  Self Employed   6241180
108    2006-05  Normal Salary   5510277
113    2006-06  Normal Salary   1643948
117    2006-07  Normal Salary   2130229
122    2006-08  Normal Salary    980753
126    2006-09           Govt    998110
132    2006-10  Normal Salary   1093330
137    2006-11  Normal Salary   2485723
142    2006-12  Normal Salary   1510011

In [41]:
df_spent['Month'] = pd.to_datetime(df_spent['Month'], dayfirst=True)
df_spent['Year-Month'] = df_spent['Month'].dt.to_period('M')
df_merged = df_spent.merge(df_customer[['Customer', 'Segment']], on='Customer', how='left')
monthly_category_spend = df_merged.groupby(['Year-Month', 'Type'])['Amount'].sum().reset_index()
most_spent_category_monthly = monthly_category_spend.loc[
    monthly_category_spend.groupby('Year-Month')['Amount'].idxmax()
].reset_index(drop=True)
print("Most spent category each month:")
print(most_spent_category_monthly)

Most spent category each month:
   Year-Month          Type    Amount
0     2004-01        CAMERA  14644502
1     2004-02    BUS TICKET   2051643
2     2004-03        CAMERA   1308173
3     2004-04    BUS TICKET   1705406
4     2004-05        RENTAL   2390532
5     2004-09           CAR   1503815
6     2004-11         PETRO   1453271
7     2005-01        CAMERA   2108909
8     2005-02  TRAIN TICKET   6041679
9     2005-04  TRAIN TICKET   3456029
10    2005-05         PETRO   5794860
11    2005-06        CAMERA   4418063
12    2005-07        CAMERA   2090935
13    2005-08      SHOPPING   1525402
14    2005-09    AIR TICKET   1772252
15    2005-10    BUS TICKET   1037811
16    2005-11         PETRO   2657720
17    2005-12        RENTAL   1701078
18    2006-01  MOVIE TICKET   1746835
19    2006-02          BIKE   2636012
20    2006-03        CAMERA   6977800
21    2006-04         PETRO   3958966
22    2006-05    AIR TICKET   3894931
23    2006-06    BUS TICKET   2062148
24    2006-07  TRAIN TICKET   2305288
25    2006-08        RENTAL   1636189
26    2006-09  MOVIE TICKET   1792551
27    2006-10     JEWELLERY   1643753
28    2006-11         PETRO   2473711
29    2006-12       CLOTHES    944862

In [45]:


df_spent['Month'] = pd.to_datetime(df_spent['Month'], format='%d-%b-%y')
df_repay['Month'] = pd.to_datetime(df_repay['Month'], format='%d-%b-%y')

df_spent['Year-Month'] = df_spent['Month'].dt.to_period('M')
df_repay['Year-Month'] = df_repay['Month'].dt.to_period('M')

monthly_spent = df_spent.groupby(['Customer', 'Year-Month'])['Amount'].sum().reset_index(name='Total_Spent')
monthly_repay = df_repay.groupby(['Customer', 'Year-Month'])['Amount'].sum().reset_index(name='Total_Repayment')

monthly_merged = pd.merge(monthly_spent, monthly_repay, on=['Customer', 'Year-Month'], how='left')
monthly_merged['Total_Repayment'] = monthly_merged['Total_Repayment'].fillna(0)
monthly_merged['Due'] = monthly_merged['Total_Spent'] - monthly_merged['Total_Repayment']
monthly_merged['Due'] = monthly_merged['Due'].apply(lambda x: x if x > 0 else 0)
monthly_merged['Interest_2.9%'] = monthly_merged['Due'] * 0.029
print(monthly_merged[['Customer', 'Year-Month', 'Due', 'Interest_2.9%']])

    Customer Year-Month            Due  Interest_2.9%
0         A1    2004-01  148397.764878    4303.535181
1         A1    2004-02       0.000000       0.000000
2         A1    2004-05  131197.000000    3804.713000
3         A1    2005-01  396822.030171   11507.838875
4         A1    2005-02  204386.375450    5927.204888
..       ...        ...            ...            ...
802      A95    2004-01  272724.507772    7909.010725
803      A96    2004-01  210224.985852    6096.524590
804      A97    2004-01       0.000000       0.000000
805      A98    2004-01       0.000000       0.000000
806      A99    2004-01  117430.075655    3405.472194

[807 rows x 4 columns]

In [43]:
df_spent['Month'] = pd.to_datetime(df_spent['Month'], dayfirst=True)
df_spent['Year-Month'] = df_spent['Month'].dt.to_period('M')

df_repay['Month'] = pd.to_datetime(df_repay['Month'], dayfirst=True)
df_repay['Year-Month'] = df_repay['Month'].dt.to_period('M')
monthly_spent = df_spent.groupby(['Customer', 'Year-Month'])['Amount'].sum().reset_index(name='Total_Spent')
monthly_repay = df_repay.groupby(['Customer', 'Year-Month'])['Amount'].sum().reset_index(name='Total_Repayment')

monthly_data = pd.merge(monthly_spent, monthly_repay, on=['Customer', 'Year-Month'], how='left')
monthly_data['Total_Repayment'] = monthly_data['Total_Repayment'].fillna(0)

monthly_data['Due'] = monthly_data['Total_Spent'] - monthly_data['Total_Repayment']
monthly_data['Due'] = monthly_data['Due'].apply(lambda x: x if x > 0 else 0)
monthly_data['Interest'] = monthly_data['Due'] * 0.029  # 2.9% interest

monthly_profit = monthly_data.groupby('Year-Month')['Interest'].sum().reset_index(name='Bank_Profit')

print(" Monthly profit earned by bank through interest:")
print(monthly_profit)

 Monthly profit earned by bank through interest:
   Year-Month    Bank_Profit
0     2004-01  577723.329321
1     2004-02  179315.876277
2     2004-03   91546.492619
3     2004-04  139859.165911
4     2004-05   82054.689505
5     2004-09   91544.407282
6     2004-11   95829.713153
7     2005-01  164964.767002
8     2005-02  370686.257785
9     2005-04  142960.573621
10    2005-05  291676.596396
11    2005-06  205566.613797
12    2005-07   59396.390919
13    2005-08  158686.629642
14    2005-09   74482.137743
15    2005-10   67811.882676
16    2005-11  248955.703935
17    2005-12   71185.431195
18    2006-01   84424.363799
19    2006-02  199521.316730
20    2006-03  480587.319486
21    2006-04  406504.665674
22    2006-05  182230.983936
23    2006-06  104225.188044
24    2006-07  172635.021196
25    2006-08   64692.941315
26    2006-09   92836.421161
27    2006-10   78689.996613
28    2006-11  170797.927516
29    2006-12   77000.655921